@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
header,
main {
  max-width: 2023px;
  margin: 0 auto;
}
section {
  padding: 50px 0px;
}
nav {
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
}
nav .img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .img-logo img {
  height: 30px;
  width: 50px;
}
nav .img-logo h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #0b0223;
}
nav .img-logo span {
  color: #ff42a5;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: 500;
  color: #3c354f;
}
nav ul li:last-child {
  background-color: rgba(11, 2, 35, 0.1);
  padding: 10px 15px;
  text-align: center;
  border-radius: 8px;
}
nav ul li:last-child img {
  height: 15px;
  width: 30px;
}
nav ul li .anchor {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #3c354f;
}
.banner-container {
  background-image: url(../images/bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 20px 50px;
  display: flex;
  gap: 50px;
  align-items: center;
}
.banner-content {
  width: 50%;
}
.banner-title {
  font-size: 2rem;
  font-weight: 600;
  color: #0b0223;
}
.banner-big-title {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px 0px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-description {
  font-weight: 500;
  color: #534c64;
  padding: 5px 0px;
}
.banner-description img {
  height: 15px;
  width: 20px;
  padding-right: 7px;
}
.sing-btn,
.go-btn {
  padding: 10px 18px;
  color: white;
  background-color: #ff42a5;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
}
.go-btn {
  background-color: #4ec5f7;
  margin-left: 10px;
}

.online-game-title {
  font-size: 3rem;
  font-weight: 700;
  color: #0b0223;
  text-align: center;
}
.online-game-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-game-description {
  font-weight: 400;
  text-align: center;
  color: #534c64;
  padding: 15px;
}
.online-game-container {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.img-container {
  height: 100%;
  width: 100%;
}
.img-container p {
  font-weight: 500;
  color: #534c64;
  padding: 10px;
}
.hover-effect {
  position: relative;
}
.overlay-content {
  position: absolute;
  height: 98%;
  width: 99%;
  top: 0;
  left: 0;
  background-color: rgb(19, 8, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
  padding-bottom: 0px;
  border-radius: 10px;
}
.overlay-content p {
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.overlay-content img {
  height: 30px;
  width: 40px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
}
.overlay-content:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 8px rgb(19, 8, 8);
}

/* Responsive Styles */

/* Responsive For Mobile Devices */
@media screen and (max-width: 576px) {
  nav,
  ul,
  .online-game-container {
    flex-direction: column;
    text-align: center;
  }
  nav ul li:last-child {
    width: 180px;
    margin: 0 auto;
  }
  .banner-container {
    flex-direction: column-reverse;
    text-align: center;
  }
}

/* Responsive For Tablet Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav,
  .banner-container,
  .online-game-container {
    flex-direction: column;
    text-align: center;
  }
  nav ul {
    padding-top: 20px;
  }
}
